{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap3.twig' %}

{% form_theme form _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}

{% block head_stylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <button type="button" class="btn btn-primary btn-xs" id="menu-on" style="display: none;">Rodyti</button>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <button type="button" class="btn btn-primary btn-xs" id="menu-on-off">Slėpti</button>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Rasti straipsniai
                    </a>
                </li>
                <div id="js-load-articles">
                    {% for country in articles %}
                        {% for article in country[3] %}
                            <article class="read-toggle">
                                <h4>{{ article[0] }}</h4>
                                <img class="littleSpaceRight" width="105px"
                                     src="http://g2.dcdn.lt/images/pix/arunas-70820028.jpg" style="float: left;" />
                                <p>{{ article[1] }}</p>
                            </article>
                        {% endfor %}
                    {% endfor %}
                    </div>
            </ul>
        </div>

        <div class="spaceTop spaceLeft" id="read-article">
            <button type="button" class="btn btn-primary btn-xs" id="read-toggle2">Uždaryti</button>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <center>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class = "col-lg-4">
                            <div class="input-daterange input-group" data-provide="datepicker" id="range">
                                {{ form_start(form) }}
                                <div class="col-lg-4 no-gutter">
                                    {{ form_errors(form.beginDate) }}
                                    {{ form_widget(form.beginDate) }}
                                </div>
                                <div class="col-lg-4 no-gutter">
                                        {{ form_errors(form.endDate) }}
                                        {{ form_widget(form.endDate) }}
                                </div>
                                <div class="col-lg-4 no-gutter">
                                    <span class="input-group-btn no-gutter pull-left">
                                        <button type = "submit" class ="btn btn-primary" id="date_pick_save"
                                                name="date_pick[save]" value="ieskoti">Ieškoti</button>
                                        <button type="button" class="btn btn-success" id="event-on">Įvykiai</button>
                                    </span>
                                </div>
                                {{ form_end(form) }}
                            </div>

                            <div class="row">
                                    <div id="EventForm" style="display: none;">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <div class="col-lg-8 no-gutter">
                                                {{ form_start(form1) }}
                                                {{ form_widget(form1.event) }}
                                            </div>
                                            <div class="col-lg-4 no-gutter">
                                                {{ form_widget(form1.search) }}
                                                {{ form_end(form1) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </center>
            </div>
            <div id="map"></div>
        </div>
    </div>
{% endblock %}
