{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap3.twig' %}

{% form_theme form _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}

{% block head_stylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <button type="button" class="btn btn-primary btn-sm" id="menu-on" style="display: none;">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Rodyti
    </button>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <button type="button" class="btn btn-primary btn-xs" id="menu-on-off">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Slėpti
            </button>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                        Rasti straipsniai
                </li>
                <div id="js-load-articles">
                    {% if articles|length == 0 %}
                        <article class="read-toggle">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                            </div>
                            <div class="col-lg-10 col-lg-10 sm-10">
                                <h5 style="margin-top: 0">Straipsnių nerasta</h5>
                            </div>
                        </article>
                    {% endif %}
                    {% for country in articles %}
                        {% for article in country[3] %}
                            <article class="read-toggle">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <img src="{{ asset('images/flags/')}}{{ country[4] }}">
                                </div>
                                <div class="col-lg-10 col-lg-10 sm-10">
                                   <h4 style="margin-top: 0">{{ article[0] }}<br>
                                   <small>
                                       {{ article[1] }}
                                   </small></h4>
                                </div>
                            </article>
                        {% endfor %}
                    {% endfor %}
                </div>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3"></div>
            <div class="col-lg-6 col-md-12">
                <div class="read-article-space-top" id="read-article">
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class = "col-lg-4">
                            <div class="welcome-message">
                                Sužinok ką apie Lietuvą kalba užsienyje...</br>
                            </div>
                            <div class="input-daterange input-group" data-provide="datepicker" id="range">
                                {{ form_start(form) }}
                                <div class="col-lg-4 no-gutter">
                                    <div class="input-group input-append date" id="datePicker">
                                        {{ form_errors(form.beginDate) }}
                                        {{ form_widget(form.beginDate) }}
                                        <span class="input-group-addon add-on">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4 no-gutter">
                                    <div class="input-group input-append date" id="datePicker">
                                        {{ form_errors(form.endDate) }}
                                        {{ form_widget(form.endDate) }}
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 no-gutter">
                                    <span class="input-group-btn no-gutter pull-left">
                                        <button type = "submit" class ="btn btn-primary" id="date_pick_save"
                                                name="date_pick[save]" value="ieskoti">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Ieškoti
                                        </button>
                                        <button type="button" class="btn btn-success" id="event-on">Įvykiai</button>
                                    </span>
                                </div>
                                {{ form_end(form) }}
                            </div>

                            <div class="row">
                                    <div id="EventForm" style="display: none;">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <div class="col-lg-8 no-gutter">
                                                {{ form_start(form1) }}
                                                {{ form_widget(form1.event) }}
                                            </div>
                                            <div class="col-lg-4 no-gutter">
                                                {{ form_widget(form1.search) }}
                                                {{ form_end(form1) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive pull-right" src="{{ asset('images/lithuanify.png') }}"
                                 alt="lithuanify" width="40%">
                        </div>
                    </div>
            </div>
            <div id="map"></div>
        </div>
    </div>
{% endblock %}
